<div class="container-fluid">
	<div class="appTitle pull-left">{{ vm.title }}</div>
		<div class="searchBtn">
			<a class="fa fa-reply font16 iconPad  cursor" ui-sref="root.program.view({id: vm.id})"></a>
       </div>
 <form class="form-horizontal" name="vm.uploadDocumentForm" role="form" ng-init="vm.getEditDocument(vm.id)">
	<div class="col-xs-12 col-sm-12 col-md-12">
	<div class="form-group has-feedback">
      <div class="col-xs-2 col-sm-2 col-md-2 padLeft0">Document</div>
      <div class="col-xs-10 col-sm-10 col-md-10">{{vm.document.name}}</div>
   </div>
   <div class="form-group has-feedback">
   <tabset>
    <tab heading="Roles">
	 <div class="programTab1 ng-scope">
	 <ul class="programTabContainer padLeft0">
	  <li>
           <span class="iconWidth"><i ng-show="vm.isAllRolesSelected()" class="fa fa-check"></i></span> 
           <a ng-click = "vm.selectAllRoles()">Select All</a>
      </li>
	    <li ng-repeat="role in vm.allRoles" >
           <span class="iconWidth"><i ng-show="vm.isRoleAssigned(role.id)" class="fa fa-check"></i></span> 
           <a ng-click = "vm.assignRole(role.id,role.name)">{{role.name}}</a>
        </li>
      </ul>
     </div> 
    </tab>
    <tab heading="Programs">
     <div class="programTab1 ng-scope">
      <ul class="programTabContainer padLeft0">
      <li>
           <span class="iconWidth"><i ng-show="vm.isAllProgramsSelected()" class="fa fa-check"></i></span> 
           <a ng-click = "vm.selectAllPrograms()">Select All</a>
      </li>
         <li ng-repeat="program in vm.allPrograms" >
          <span class="iconWidth"><i ng-show="vm.isProgramAssigned(program.id)" class="fa fa-check"></i></span>
           <a ng-click = "vm.assignProgram(program.id,program.name)">{{program.name}}</a>
        </li>
      </ul>
      </div>
    </tab>
    <tab heading="Shippers">
     <div class="programTab1 ng-scope">
        <ul class="programTabContainer padLeft0">
         <li>
           <span class="iconWidth"><i ng-show="vm.isAllShippersSelected()" class="fa fa-check"></i></span> 
           <a ng-click = "vm.selectAllShippers()">Select All</a>
        </li>
         <li ng-repeat="shipper in vm.allShippers" >
           <span class="iconWidth"><i ng-show="vm.isShipperAssigned(shipper.id)" class="fa fa-check"></i></span>
           <a ng-click = "vm.assignShipper(shipper.id,shipper.name)">{{shipper.name}}</a>
        </li>
      </ul>
      </div>
    </tab>
  </tabset>
  
  <div class="form-group has-feedback">
      <div class="col-xs-2 col-sm-2 col-md-2" ></div>
      <div class="ccol-xs-2 col-sm-10 col-md-10 padLeft0" > <button type="Submit" ng-click="vm.updateDocument()" class="btn btn-default submitBtn customBtn marRight15">Submit</button>
	 <button type="button" ng-click="vm.cancel()" class="btn btn-default cancelBtn customBtn" ui-sref="root.program.list">Cancel</button></div>
   </div>
   </div>
   </div>
   </form>	
</div>
